<div class="jumbotron">
  <!--<h1>Books in One</h1>-->
<pre style="color: white;
    background: #3F51B5;">
                                                                                                                                       
                                                                                                                            
                                                                                                                                       
                                                                                                    ,----..                            
    ,---,.                              ,-.                          ,---,                         /   /   \                           
  ,'  .'  \                         ,--/ /|                       ,`--.' |                        /   .     :                          
,---.' .' |    ,---.      ,---.   ,--. :/ |                       |   :  :       ,---,           .   /   ;.  \       ,---,             
|   |  |: |   '   ,'\    '   ,'\  :  : ' /     .--.--.            :   |  '   ,-+-. /  |         .   ;   /  ` ;   ,-+-. /  |            
:   :  :  /  /   /   |  /   /   | |  '  /     /  /    '           |   :  |  ,--.'|'   |         ;   |  ; \ ; |  ,--.'|'   |    ,---.   
:   |    ;  .   ; ,. : .   ; ,. : '  |  :    |  :  /`./           '   '  ; |   |  ,"' |         |   :  | ; | ' |   |  ,"' |   /     \  
|   :     \ '   | |: : '   | |: : |  |   \   |  :  ;_             |   |  | |   | /  | |         .   |  ' ' ' : |   | /  | |  /    /  | 
|   |   . | '   | .; : '   | .; : '  : |. \   \  \    `.          '   :  ; |   | |  | |         '   ;  \; /  | |   | |  | | .    ' / | 
'   :  '; | |   :    | |   :    | |  | ' \ \   `----.   \         |   |  ' |   | |  |/           \   \  ',  /  |   | |  |/  '   ;   /| 
|   |  | ;   \   \  /   \   \  /  '  : |--'   /  /`--'  /         '   :  | |   | |--'             ;   :    /   |   | |--'   '   |  / | 
|   :   /     `----'     `----'   ;  |,'     '--'.     /          ;   |.'  |   |/                  \   \ .'    |   |/       |   :    | 
|   | ,'                          '--'         `--'---'           '---'    '---'                    `---`      '---'         \   \  /  
`----'                                                                                                                        `----'   
                                                                                                                                       


                                                                                                   
</pre>
  <p class="lead">
    
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    All in one bookstore management system for managers
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Explore Now! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!--<button type="button" class="btn btn-default" ng-click="test()">button</button>-->


