<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->


<div class="row">
  <h3>ISBN Lookup</h3>

  <span>try: 9781119073550</span>
  <div class="input-group">
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search ISBN" ng-model="query.isbn">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="search(query.isbn)">Search</button>
    </span>
  </div>
</div>



<div class="row" ng-show="book">
  <pre> {{ book | json:4 }} </pre>
</div>

<iframe src="http://127.0.0.1:5601/app/kibana#/dashboard?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-2y,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:'5129ff40-1560-11e7-97bc-2d56a62fdd19',panelIndex:1,row:1,size_x:5,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'New+Dashboard',uiState:())" height="600" width="800"></iframe>

