<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Hints:</strong> Manage the book orders
</div>

<md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
  <div class="md-toolbar-tools">
    <span>Book Orders list</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="reload()">
      <!--<md-icon>refresh</md-icon>-->
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </md-button>
    <md-button class="md-icon-button" ng-click="filter.show = !filter.show">
      <i class="fa fa-search" aria-hidden="true"></i>
    </md-button>
    <!--<md-button class="md-icon-button">
      <md-icon>more_vert</md-icon>
    </md-button>-->
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
  <div class="md-toolbar-tools">
    <!--<md-icon>search</md-icon>-->

    <!--<i class="fa fa-search" aria-hidden="true"></i>-->

    <form flex name="filter.form">
      <!--<input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">-->
        <md-input-container md-no-float class="md-block">
          <input type="text" ng-model="query.filter" placeholder="Search">
        </md-input-container>
    </form>
    <md-button class="md-icon-button" ng-click="filter.show = !filter.show; query.filter = ''">
      <!--<md-icon>close</md-icon>-->
      <!--close-->
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>

    </md-button>
  </div>
</md-toolbar>


<md-table-container ng-init="orders = []">
  <!--<table md-table md-row-select multiple ng-model="selected" md-progress="promise">-->
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="id"><span>Order ID</span></th>
        <th md-column md-order-by="publisher"><span>Publisher</span></th>                               
        <th md-column><span>Store ID</span></th>                               
        <th md-column><span>Delivery Address</span></th>                               
        <th md-column md-order-by="status"><span>Status</span></th>    
        <th md-column><span># of items</span></th>                                                                  
        <th md-column md-order-by="createAt"><span>Created at</span></th>                       
        <th md-column><span>Action</span></th>                       
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="order" md-select-id="name" md-auto-select ng-repeat="order in orders | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
        <td md-cell>{{order.id}}</td>
        <td md-cell>{{order.publisher}}</td> 
        <td md-cell>{{order.storeid}}</td>        
        <td md-cell>{{order.address}}</td>        
        <td md-cell>{{order.status | orderStatus}}</td>
        <td md-cell>{{order.books.length}}</td>
        <td md-cell>{{order.createAt | date:'d MMM yyyy, H:mm:ss' }}</td>
        <td md-cell>
          <a class="btn btn-info btn-xs" href="" role="button" ng-click="viewSelectedOrder($event, order)">Manage Order</a>
          <!--<a class="btn btn-success btn-xs" href="" role="button">Confirm Order</a>-->
        </td>        
      </tr>
    </tbody>
  </table>
</md-table-container>

<!-- how to change the pagination label -->
<md-table-pagination md-label="{page: 'Page:', rowsPerPage: 'Rows per page:', of: 'of'}" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{orders.length}}"></md-table-pagination>