<p>This is the purchase-new view.</p>

<div class="row">
  <h3>ISBN Lookup</h3>

  <span>try: 9781119073550, 7505715666</span>
  <div class="input-group">
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search ISBN" ng-model="query.isbn">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="search(query.isbn)">Search</button>
    </span>
  </div>
</div>

<div class="row" ng-show="book">
  <pre> {{ book | json:4 }} </pre>
</div>
